.button-box {
    padding-bottom: 20px;
}

.player-inputs {
    display: inline;
}

.btn-normal {
    background-color: #eee;
}

.btn-normal:hover {
    background-color: #ddd;
}

.player-inputs label {
    padding-left: 10px;
}

#input-track-sequence {
    width: 150px;
}

#input-tempo {
    width: 80px;
}

.track-header .button-clear-track {
    margin-bottom: 0px; /* hax! y u no collapse */
}

.track {
    display: -webkit-flex;
    display: flex;
    align-items: stretch;
    margin-right: 30px;
    margin-bottom: 30px;
    -webkit-box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.22);
    -moz-box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.22);
    box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.22);
}

.track-header {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    background-color: lightslategrey;
}

.track-header button {
    margin: 5px;
}

.track-table tr:first-child th {
    border-top: 0;
}

.track-table tr:first-child td {
    border-top: 0;
}

.track-table {
    border: 1px solid lightslategrey;
    border-spacing: 0;
}

.track-table td, th {
    padding: 5px;
    border-top: 1px solid lightgrey;
}

.track-table > tbody > tr td:nth-of-type(odd) {
    background-color: whitesmoke;
}

.track-table > tbody > tr td:nth-of-type(4n+1) {
    border-left: 1px solid darkgrey;
}

.track-label {
    text-align: center;
    font-size: xx-large;
    color: white;
}

.track-spacer {
    -webkit-flex: 1;
    flex: 1;
}

td.play {
    background-color: gold !important;
}

#loading_message {
    padding-top: 50px;
}

.track-list {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.page-header {
    font-style: oblique;
    font-weight: 100;
}

.page-header img {
    vertical-align: baseline;
    margin-right: 20px;
}